@font-face {
  font-family: FreightBigPro;
  src: url(./fonts/freigbigprobol.otf) format("opentype")
}
@font-face {
  font-family: NunitoSans-Black;
  src: url(./fonts/NunitoSans-Black.ttf);
}
@font-face {
  font-family: NunitoSans-Bold;
  src: url(./fonts/NunitoSans-Bold.ttf);
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url(./fonts/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: NunitoSans-SemiBold;
  src: url(./fonts/NunitoSans-SemiBold.ttf);
}

:root {
  --Freight: FreightBigPro;
  --Nunito-Black: NunitoSans-Black;
  --Nunito-Bold: NunitoSans-Bold;
  --Nunito-Regular: NunitoSans-Regular;
  --Nunito-SemiBold: NunitoSans-SemiBold;
  
  --dark-blue: #19316D;
  --dark-blue-1: #D7DBE4;
  --med-blue: #1668B7;
  --med-blue-1: #D7E4F1;
  --light-blue: #009AD7;
  --blue-green: #0BDFEE;
  --teal: #0AE4C0;
  --teal-4: #08AA8F;
  --teal-2: #62EDD6;
  --teal-1: #D5F8F2;
  --red: #CE355B;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: var(--Nunito-Regular);
  /* background: linear-gradient(to bottom right, var(--teal), var(--teal-4)) ; */
  /* background: linear-gradient(to bottom right, var(--teal), var(--blue-green)) ; */
  background-color: var(--teal-1);
  color: white;
  margin: 0;
}

.app-root {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: space-evenly;
  gap: 5rem;
}

@media (max-width: 500px) {
  .app-root {
    display: block;
  }
}

.app-root > * {
  width: 100%;
}

.heading {
  background-color: var(--dark-blue);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.heading .logo-heading {
  position: absolute;
  height: 100px;
  left: 2rem;
}

h1 {
  text-align: center;
  font-family: var(--Freight);
  font-size: 3rem;
}

h2 {
  font-family: var(--Nunito-SemiBold);
  color: var(--dark-blue);
}

h3 {
  font-family: var(--Nunito-Black);
  margin: 1rem 0;
  /* letter-spacing: 1px; */
  line-height: 1.3rem;
  /* text-transform: uppercase; */
}

h4 {
  font-family: var(--Nunito-Black);
  margin: 1rem 0;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading span {
  height: 5rem !important;
  width: 5rem !important;
}

.loading svg {
  color: var(--dark-blue);
}

.roadmap-container {
  position: relative;
}

.legend {
  background-color: var(--med-blue);
  margin: 0 0 0 auto;
  padding: 1rem;
  border-radius: 0  0 0 0.5rem;
  width: 200px;
}

.legend h3 {
  margin: 0;
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-container span {
  margin-top: 0.5rem;
}

.form-container {
  flex-basis: minmax(400px, 800px);
  position: relative;
}

form {
  width: 100%;
  background-color: var(--light-blue);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.4);
}

form * {
  display: block;
  width: 100%;
}

input, textarea, select {
  margin: 0 0 1.5rem;
  color: var(--dark-blue);
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0.25rem;
}

textarea {
  resize: none;
}

input, select {
  height: 2rem;
  border-color: internal light dark(var(--dark-blue), var(--med-blue));
}

button {
  background-color: var(--teal);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.4);
  transition: all 200ms ease;
}

button:hover {
  background-color: var(--teal-2);
}

button[type="submit"] {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

button.action {
  border-radius: 5rem;
  width: 4rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--teal-2) 32%, var(--teal) 58%, var(--teal-4) 100%);
}

.action:hover {
  box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
}

button.secondary-action {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.epics h2 {
  text-decoration: underline;
  text-align: center;
  text-underline-offset: 0.3rem;
}

.epic__card--info {
  max-height: 0;
  overflow: hidden;
}

@keyframes grow {
  from {
    max-height: 0;
  }
  to {
    max-height: 200vh;
  }
}

@keyframes shrink {
  from {
    max-height: 200vh
  }
  to {
    max-height: 0;
  }
}

.epic__card, .epic__card--dependency {
  border: 1px solid black;
  padding: 0 1rem;
  margin-bottom: 1rem;
  background-color: var(--med-blue);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.4);
  position: relative;
}

.epic__card {
  position: relative;
  cursor: pointer;
}

.epic__card > svg, .epic__card--dependency > svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.epic__card h3 {
  max-width: 90%;
}

.epic__card--container {
  position: relative;
}

.epic__card--dependency {
  background-color: var(--light-blue);
}

.epic__card--dependency h4 {
  max-width: 90%;
}

.dependency-count {
  display: inline-block;
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 0;
}

.epic__card--buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.epics .epic__card--dependency h5 {
  color: inherit;
}

.sub-task {
  position: relative;
  margin-top: 1rem;
}


/* React Transitions  */

.dependency-enter {
  height: 0;
  opacity: 0;
}

.dependency-enter-active {
  opacity: 1;
  height: 300px;
  transition: all 200ms ease;
}

.dependency-enter-done {
  height: 300px;
}

.dependency-exit {
  height: 300px;
}

.dependency-exit-active {
  height: 0;
  opacity: 0;
  transition: all 200ms ease;
}

.dependency-exit-done {
  height: 0;
}

