.app-root {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: space-evenly;
  gap: 5rem;
}

.app-root > * {
  width: 100%;
}

h1 {
  text-align: center;
}

.form-container {
  flex-basis: minmax(400px, 800px);
}

form {
  width: 100%;
}

form * {
  display: block;
  width: 100%;
}

input, textarea, select, button[type="button"] {
  margin: 0 0 2rem;
}

.epics h2 {
  text-decoration: underline;
}

.epics div {
  border: 1px solid black;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
